<div class="container">

<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
  <% end %>


<ul>
  <% @users.each do |user| %>

    <li> <%= user.email %> <li>
  <% end %>
</ul>

</div>
