
<div class="container">

<h1>Welcome User<%= @user.id %>! </h1>
<p><% @user.languages.each do |l| %></p>
  <p> <%= l.name %>
      <%= l.skill_level %>
  </p>
  <% end %>
  <%= link_to "add programming languages that you use!", languages_path %>
</div>
