// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {

  @include outer-container;

}


nav{
@include outer-container;
height:100px;
text-align:center;

.navi-links{

    li{
      display: inline;
      padding: 1.5em;
    }
}

}
